page{
	background-color: #f4f4f4;
	font-size: 35upx;
}
.content{
	/* background: url(../../static/img/zj.png) no-repeat 10px -12px;-webkit-background-size: 105% 116%; */
	/* width: 120px;height: 150px;
	background: url(../../static/img/dt.jpg) no-repeat -0px -0px;-webkit-background-size: 100% 110%; */
	margin-top: 50upx;
}

.tu{
	text-align: center;
}
.t1{
	margin-left: 50upx;
	color: white;
}
.t2{
	color: white;
	margin-left: 300upx;
}
.logoimg {
		width: 200rpx;
		height: 200rpx;
		border-radius: 50%;
		border: #000000 1px solid;
	}
input{
	opacity:0.5;
	background: white;
	width: 86%;
	height: 100upx;
	padding-left: 30upx;
	margin: 30upx 5%;
	border-radius: 44upx;
}
.codeimg {
		opacity:0.5;
		position: absolute;
		font-size: 28rpx;
		right: 5%;
		z-index: 999;
		width: 200rpx;
		text-align: center;
		color: #353535;
		margin-top: -17%;
		background: white;
		border-top-right-radius: 44rpx;
		border-bottom-right-radius: 44rpx;
		height: 97rpx;
		line-height: 80rpx;
	}
	.yy{
		margin-left: 80upx;
		margin-top: 50upx;
	}
button{
	opacity:0.5;
	width: 90%;
	margin: 50upx 5%;
	border-radius: 44rpx;
	background: white;
}
uni-icon{
	position: relative;
	top: -98upx;
	right: 60upx;
	float: right;
	z-index: 3;
}
/* 注册页面 */
radio-group{
	margin: 0upx 5%;
}
label{
	margin: 0upx 60upx 0upx 0upx;
}
radio-group{
	background: white;
	width: 86%;
	height: 100upx;
	padding-left: 30upx;
	margin: 30upx 5%;
	line-height: 100upx;
}
picker{
	background: white;
	width: 86%;
	height: 100upx;
	padding-left: 30upx;
	margin: 30upx 5%;
	line-height: 100upx;
}